body {
  text-align: center;
}
.studentSection {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.list {
  border: 2px solid gray;
  padding: 20px;
}
h2 {
  color: green;
}
ul {
  list-style: none;
}
